body {
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 51, 102);
}

div#header {
    width: 100%;
    background-color: rgb(0, 51, 102);
    margin: 0;
    padding: 10px;
    text-align: center;
}

h1{
    color: white;
}

div#body {
    text-align: center;
    background-color: rgb(37, 107, 175);
    padding: 50px;
    color: whitesmoke;
}

div#text{
    width: 65%;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    background-color: rgb(37, 107, 175);
    border: 3px solid whitesmoke;
    color: whitesmoke
}

button:hover {
    background-color: rgb(19, 81, 128)
}

button:active {
    background-color: rgb(10, 42, 67)
}


